<div class="leader">
    <ul class="leader-list">
        <li class="leader-header"><h1>分类</h1></li>
        {% for category in site.categories %}
            <li class="leader-item">
                <h3 class="leader-item-header">{{ category | first }}({{ category | last | size }})</h3>
                {% for post in category.last %}
                <h4 class="post"><a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a></h4>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</div>